body{
    background-color: beige;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    
    

}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    border: 1px solid red;
    grid-row: 1/2;
    grid-column: 1/13;
    background-color: black;
    color: white;
}
.nav{
    grid-row: 2/3;
    grid-column: 1/13;
    background-color: rgb(15,17,17);
    border: 1px solid green;
    height:60px;
    color:white;
    
}
ul li{
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
    margin: 0px;

    
}
li:hover{
    background-color: navy;
}
.cards{
    grid-row: 4/5;
    grid-column: 1/13;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 400px;
}

.card1,.card2,.card3,.card4{
    height: 400px;
    border:1px solid red;
    
    width: 300px;
}

.card1{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
    
}

.card11{
    /* background-color: brown; */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.card12{
    /* background-color: rgb(199, 60, 60); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card13{
    /* background-color: rgb(100, 27, 27); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card14{
    /* background-color:     rgb(144, 22, 22); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card2{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
    
}

.card21{
    /* background-color: brown; */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.card22{
    /* background-color: rgb(199, 60, 60); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card23{
    /* background-color: rgb(100, 27, 27); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card24{
    /* background-color:     rgb(144, 22, 22); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card3{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
    
}

.card31{
    /* background-color: brown; */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.card32{
    /* background-color: rgb(199, 60, 60); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card33{
    /* background-color: rgb(100, 27, 27); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card34{
    /* background-color:     rgb(144, 22, 22); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}
.card4{

    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
    
}

.card41{
    /* background-color: brown; */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
}

.card42{
    /* background-color: rgb(199, 60, 60); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card43{
    /* background-color: rgb(100, 27, 27); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}

.card44{
    /* background-color:     rgb(144, 22, 22); */
    border: 1px solid ;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;

}
.main{
    background-image:url(image/background.jpg);
    background-size:  1500px 100%;
    height: 100%;
    width: 1500px;
}

.wallpaper {
    
}

